@using ToDoList.BLL.Identity
@{
    ViewBag.Title = "Index";
}
<li class="dropdown" >
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@MembershipTools.GetNameSurname(null)</a>
    <ul class="dropdown-menu">

        <li><a href=@Url.Action("Logout", "Account")><i class="fa fa-sign-out"></i> Logout </a></li>
    </ul>
</li>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-inline" id="frmAdd">

                <div class="form-group">
                    <label for="txtBusinessName">Business Name</label>
                    <input type="text" class="form-control" id="txtBusinessName" placeholder="Business Name">
                </div>


                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <input type="text" class="form-control" id="txtDescription" placeholder="Description">
                </div>

                <button type="submit" class="btn btn-info">Add</button>
                <div id="messagediv"></div>
            </form>


            <form class="form-inline" id="frmUpdate" style="display: none">
                <input type="hidden" id="ToDoId" />
                <div class="form-group">
                    <label for="txtBusinessName2">Business Name</label>
                    <input type="text" class="form-control" id="txtBusinessName2" placeholder="Business Name">
                </div>
                <div class="form-group">
                    <label for="txtDescription2">Description</label>
                    <input type="text" class="form-control" id="txtDescription2" placeholder="Description">
                </div>
                <button type="submit" class="btn btn-info">Update Category</button>
                <div id="messagediv2"></div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="searchdiv">
        <div class="col-md-6 col-md-offset-3">
            <div class="col-lg-8">
                <div class="input-group  input-group-lg">
                    <input type="text" id="txtsearch" class="form-control" placeholder="Search for...">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </span>
                </div><!-- /input-group -->
                <div id="resultmessage"></div>
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="resultdiv">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Business Name</th>
                        <th>Description</th>
                        <th>Is Done</th>
                        <th>To Do Notify Date</th>
                        <th>To Do Result Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="resultbody"></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            setInterval(init, 10000);
            function init() {
                $.ajax({
                    url: "@Url.Action("Search","Home",new {s="*"})",
                    method: "get",
                    dataType: "json"
                }).done(function(e) {
                    if (e.success) {
                        renderdata(e.data);
                        $("#resultdiv").show(600);
                    } else {
                        alert(e.message);
                    }
                });
            }

            $("#frmAdd").submit(function (ev) {
                ev.preventDefault();
                var data = {
                    BusinessName: $("#txtBusinessName").val(),
                    Description: $("#txtDescription").val()
                }
                $.ajax({
                    url: '@Url.Action("Add","Home")',
                    method: "post",
                    dataType: "json",
                    data:data
                }).done(function(e) {
                    alert(e.message);
                });
            });
            $("#frmUpdate").submit(function(ev) {
                ev.preventDefault();
                var data = {
                    BusinessName: $("#txtBusinessName2").val(),
                    Description: $("#txtDescription2").val(),
                    ToDoId: $("#ToDoId").val()
                };
                $.ajax({
                    url: '@Url.Action("Update","Home")',
                    method: "post",
                    dataType: "json",
                    data:data
                }).done(function(e) {
                    alert(e.message);
                    if (e.success) {
                        init();
                        $("#frmUpdate").hide();
                        $("#frmAdd").show(400);
                    }
                });
            });

            $("#resultdiv").hide();
            $("#txtsearch").keyup(function (e) {
                $("#resultmessage").hide();
                $("#resultdiv").hide();
                var key = $(this).val();
                if (key.length < 3)
                    return;

                $.ajax({
                    url: '@Url.Action("Search","Home")' + "?s=" + key,
                    method: "GET",
                    dataType:"json"
                }).done(function (e) {
                    $("#resultmessage").fadeIn(400);
                    if (e.success) {
                        $("#resultmessage").html("<span class='text text-success'><h2>" + e.message + "</h2></span>");
                        if (e.data.length > 0) {
                            renderdata(e.data);
                            $("#resultdiv").show(600);
                        }
                    } else {
                        $("#resultmessage").html("<span class='text text-danger'><h2>" + e.message + "</h2></span>");
                    }
                });
            });

            function renderdata(data) {
                $("#resultbody").empty();
                $.each(data,
                    function (key, value) {
                        var tr = document.createElement("tr");
                        var th = document.createElement("th");
                        th.innerText = key + 1;
                        var td = document.createElement("td");
                        td.innerText = value.BusinessName;
                        var td2 = document.createElement("td");
                        td2.innerText = value.Description;
                        var td3 = document.createElement("td");
                        td3.innerText = value.IsDone;
                        var td4 = document.createElement("td");
                        td4.innerText = value.ToDoNotifyDate.toString();
                        var td5 = document.createElement("td");
                        td5.innerText = value.ToDoResultDate.toString();
                        var td6 = document.createElement("td");
                        var a = document.createElement("a");


                        var btnSil = document.createElement("input");
                        $(btnSil).attr({
                            "type": "button",
                            "class": "btn btn-danger",
                            "value": "Delete",
                            "name": value.ToDoId
                        }).on("click", function () {
                            var id = this.name;
                            $.ajax({
                                url: "@Url.Action("Delete","Home")",
                                method: "post",
                                dataType: "json",
                                data: {id:id}
                            }).done(function(e) {
                                alert(e.message);
                                init();
                            });
                        });
                        var btnGuncelle = document.createElement("input");
                        $(btnGuncelle).attr({
                            "type": "button",
                            "class": "btn btn-warning",
                            "value": "Update",
                            "name": value.ToDoId
                        }).on("click",
                            function () {
                                var selectedid = this.name;
                                var satir = $(this).parent().parent()[0].childNodes;
                                var businessName = satir[1].innerText;
                                var description = satir[2].innerText;
                                $("#ToDoId").val(selectedid);
                                $("#txtBusinessName2").val(businessName);
                                $("#txtDescription2").val(description);
                                $("#frmAdd").hide();
                                $("#frmUpdate").show(400);
                            });


                        $(a).appendTo(td6);
                        $(btnSil).appendTo(td6);
                        $(btnGuncelle).appendTo(td6);




                        $(tr).append(th).append(td).append(td2).append(td3).append(td4).append(td5).append(td6).appendTo($("#resultbody"));
                    });
            }

            init();

        });

    </script>


}

