@model ToDoList.MODELS.ViewModels.RegisterLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Network Teknik Servis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/assets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    <!--===============================================================================================-->

    <style>
        a:hover {
            text-decoration: underline
        }
    </style>
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">

            <div class="wrap-login100">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login100-form validate-form", id = "frmLogin" }))
                {

                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-43">
                        Giriş Yap
                    </span>


                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(x => x.LoginViewModel.UserName, new { @class = "input100", type = "text", name = "uName", id = "username" })
                        <span class="focus-input100"></span>
                        <span class="label-input100">Username</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        @Html.TextBoxFor(x => x.LoginViewModel.Password, new { @class = "input100", type = "password", name = "pass", id = "pass" })
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

                    
                    <p class="text-muted">@Html.ValidationSummary()</p>
                    <h3>@TempData["Message"]</h3>
                    <br />
                    <br />

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-46 p-b-20">
                        <a href="@Url.Action("Register", "Account")" class="jajax"><span class="txt2" style="font-size: medium">Sign Up</span></a>
                    </div>

                    
                }
                <img src="~/assets/img/bg-01.jpg" class="login100-more" />
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/bootstrap/js/popper.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/js/main.js"></script>

    <script>
    @*$(function () {
        $("a.jajax").click(function(e) {
            e.preventDefault();
            $.ajax({
                url: "@Url.Action("Register", "Account")",
                method: "get",
                success: function() {
                    @Url.Action("Register", "Account");
                }
            });
        });


    });*@
    </script>

</body>
</html>
